@page "/"

<PageTitle>Katalog Filmowy</PageTitle>

<div class="container text-center mt-5">
    <h1>Katalog filmowy</h1>
    <p class="lead">Zaloguj się </p>

    <hr class="my-4" />

    <h4>Hollywood:</h4>
    <div class="mt-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.74301594916!2d-118.32368582377319!3d34.09374581512403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf0700e1ccbf%3A0xf51ce32918bb1261!2sHollywood%20Sign!5e0!3m2!1spl!2spl!4v1700000000000!5m2!1spl!2spl"
                width="800"
                height="450"
                style="border:0; border-radius: 12px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>